<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyud.dualsimqspanelhider" >
    <application
        android:label="Dual SIM QS Panel Hider">
        <meta-data 
						android:name="xposedmodule" 
						android:value="true" />
				<meta-data
						android:name="xposeddescription"
						android:value="Hide Dual SIM Panel on QS dropdown" />
				<meta-data 
						android:name="xposedminversion" 
						android:value="81" />
    </application>
</manifest>
